.IconSection{
    border-radius: 12px !important;
    font-family: monospace !important; 
}
.icon_IconSection{
    color: #616161;
    border-radius: 12px !important;
    font-family: monospace !important; 
}