.footer{
 
    background-color: #27292a;
    border-radius: 13px;
gap: 30px; 
padding-top: 20px;

}

 .top_footer{
  display: flex;
  gap: 30px;
  }
 .item_footer{
    flex: 1; 
    display: flex;
    flex-direction: column;
    gap: 2px;
    text-align: justify;
    font-size: 14px;
    gap: 19px;
 }
.item_footer h1{
    font-size: 18px;
    font-weight: 500;
    color: #ec6090;
   
}
.item_footer span{
    color: #eeee;
}
.bottom_footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 50px;
}

 .left_footer {
   display: flex;
   align-items: center;
}
.logo_footer {
    color: #eeee;
  font-weight: bold;
  font-style: 24px;  
}
.aaa{
    color: #ec6090;
}
.copyrights_footer {
    margin-left: 13px;
    font-size: 12px;
    color: #eeee;
}
.rights_footer img{
    height: 30px;
    border-radius: 13px;
}